#plotsContainer {
    width: 1210px;
    border: 1px solid black; /* For visual debugging */
    display: grid;
    /*grid-template-columns: repeat(4, calc(100%/4));*/
    grid-template-columns: repeat(4, 290px);
    gap: 15px;                  /* Equal spacing between grid items (both horizontal and vertical) */
    padding: 15px;              /* Optional padding around grid */
}

.gridBox{
    width: 290px;
    height: 290px;
}

.gridRectangle{
    width: 290px;
    height: 600px;
}

.plot {
    border: 1px solid black;
}

body{
    /*background-color: rgb(150,150,150);*/
}
